= form.text_field :theme
= form.text_field :client_name
= form.text_field :email
= form.text_field :invoice_number
= form.text_field :company_name
= form.text_field :general_manager
= form.text_field :legal_address
= form.text_field :fact_address
= form.text_field :mail_address
= form.text_field :inn
= form.text_field :kpp
= form.text_field :phone
= form.text_field :bank_name
= form.text_field :bic
= form.text_field :correspondent_account
= form.text_field :checking_account
= form.text_field :body

= form.form_group class: 'form-actions' do
  = form.submit class: 'btn btn-primary'