<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Realty Space - Real Estate Responsive HTML Theme</title><!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1"><![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <!-- Loading Source Sans Pro font that is used in this theme-->
  <!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7cSource+Sans+Pro:200,400,600,700,900,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
  <!-- Boostrap and other lib styles-->
  <!-- build:cssvendor-->
  <link rel="stylesheet" href="assets/css/my.css">
  <link rel="stylesheet" href="assets/css/vendor.css">
  <!-- endbuild-->
  <!-- Font-awesome lib-->
  <!-- build:cssfontawesome-->
  <link rel="stylesheet" href="assets/css/font-awesome.css">
  <!-- endbuild-->
  <!-- Theme styles, please replace "default" with other color scheme from the list available in template/css-->
  <!-- build:csstheme-default-->
  <link rel="stylesheet" href="assets/css/theme-brown_red.css">
  <!-- endbuild-->
  <!-- Your styles should go in this file-->
  <link rel="stylesheet" href="assets/css/custom.css">
  <!-- Fixes for IE-->
  <!--[if lt IE 11]>
  <link rel="stylesheet" href="assets/css/ie-fix.css"><![endif]-->
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
</head>
<body class="index menu-default hover-default scroll-animation">
<!--
SVG icons from sprite-inline.svg
They are inlined in order to make them work,
when the template is opened directly, without
web-server

If you are loading theme files using a webserver,
you can remove this code and set loadSvgWithAjax: true
at the beginning of the file.

Or you can use sprite.svg directly.
All you need to do is to add "img/sprite.svg" before the icon name
and connect svg4everybody (https://github.com/jonathantneal/svg4everybody) plugin for IE support

For example:
<use xlink:href="#icon-area"></use>
becomes
<use xlink:href="img/sprite.svg#icon-area"></use>

--><!-- inject:svg -->
<%= render 'parts/svg' %>
<!-- endinject -->
<div class="box js-box">

  <!-- BEGIN NAVBAR-->
  <div id="header-nav-offset"></div>
  <%= render 'parts/navbar' %>
  <!-- END NAVBAR-->
  <div class="site-wrap js-site-wrap">
    <div class="banner js-banner banner--wide">
      <div style="background-image: url('assets/media-demo/banner/base1_b.jpg');" class="banner__item">
        <div class="map map--index map--banner">
          <div class="map__buttons">
            <button type="button" class="map__change-map js-map-btn">Property Map</button>
          </div>
          <div class="map__wrap">
            <div data-infobox-theme="white" class="map__view js-map-index-canvas"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="banner__caption">
              <h2 class="postulats">Интернет-сайты по фиксированным ценам</h2>
              <h3 class="banner__subtitle">Наш ассиметричный ответ на кризис!</h3><span class="banner__btn">Get started</span>
              <div class="banner__arrow-circle">•</div>
              <svg class="banner__arrow-end js-arrow-end">
                <use xlink:href="#icon-arrow-end"></use>
              </svg>
              <div class="banner__arrow">
                <svg id="banner-line" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 774 284" enable-background="new 0 0 774 284" xml:space="preserve">
                  <path  fill="none" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="0,2004.009" d="M220.6,239.6
                      c-3.6-15.5-17.5-27.1-34.1-27.1h-150c-19.3,0-35,15.7-35,35c0,19.3,15.7,35,35,35c0,0,88,0,150,0c169,0,244.9-7.5,291-19
                      c41.3-10.2,114.1-33.7,118-83c4.2-53.5-59.4-67.5-102-54c-47.2,15-52.3,78.2,1,90c58.1,12.9,169.6-53.6,274.7-210"/>
                </svg>
              </div>
            </div>
            <div class="banner__search">
              <h4 class="banner__sidebar-title">The Best Way to Find Your Perfect Home</h4>
              <!-- BEGIN SEARCH-->
              <div class="search js-search-form search--banner-sidebar">
                <div class="container">

                  <%= render 'parts/base_form' %>
                  <!-- end of block .search__header-->
                  <!-- end of block .search__form#search-form-->


                </div>
              </div>
              <!-- END SEARCH-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BEGIN PROPERTIES INDEX-->
    <%= render 'parts/postulats' %>
    <!-- END PROPERTIES INDEX-->
    <!-- BEGIN SECTION FEATURE-->
    <%= render 'parts/feature' %>
    <!-- END SECTION FEATURE-->

    <%= render 'parts/rational' %>
    <%= render 'parts/pricing' %>
    <%= render 'parts/krometogo' %>
    <%= render 'parts/options' %>



    <%= render 'parts/gallery' %>




    <!-- END SECTION WORKER INDEX-->
    <!-- BEGIN SECTION ARTICLE-->
    <section class="article js-unhide-block article--index">
      <button type="button" class="widget__show js-unhide">Show articles</button>
      <div class="container">
        <div class="article__header">
          <h3 class="article__title">News & Blog</h3>
          <h4 class="article__headline">Insights, tips & how-to guides on selling property and preparing your home or investment property for sale and working to maximise your sale price.</h4>
        </div>
        <!-- end of block .article__header-->
        <div class="article__list">
          <div data-sr="enter left over 1s and scale up 20%" data-animate-end="" class="article__item"><a href="blog_details.html" class="article__photo"><img src="assets/media-demo/news/news-1.jpg" alt="News title" class="article__photo-img">
            <time datetime="2009-08-29" class="article__time">OCT<strong>27</strong></time></a>
            <div class="article__details"><a href="blog_details.html" class="article__item-title">Sustainable architecture &amp; design.</a>
              <div class="article__intro">
                <p>With the current state of the global climate and the depletion of natural  resources ...</p>
              </div><a href="blog_details.html" class="article__more">Read more</a>
            </div>
          </div>
          <!-- end of block .article__item-->
          <div data-sr="enter bottom over 1s and scale up 20%" data-animate-end="" class="article__item"><a href="blog_details.html" class="article__photo"><img src="assets/media-demo/news/news-2.jpg" alt="News title" class="article__photo-img">
            <time datetime="2009-08-29" class="article__time">SEP<strong>02</strong></time></a>
            <div class="article__details"><a href="blog_details.html" class="article__item-title">You’ve been approved for a rental home.</a>
              <div class="article__intro">
                <p>If you bought a home in these four areas during the downturn, you’ll make a tidy ...</p>
              </div><a href="blog_details.html" class="article__more">Read more</a>
            </div>
          </div>
          <!-- end of block .article__item-->
          <div data-sr="enter right over 1s and scale up 20%" data-animate-end="" class="article__item"><a href="blog_details.html" class="article__photo"><img src="assets/media-demo/news/news-3.jpg" alt="News title" class="article__photo-img">
            <time datetime="2009-08-29" class="article__time">AUG<strong>11</strong></time></a>
            <div class="article__details"><a href="blog_details.html" class="article__item-title">The Block Glasshouse winners.</a>
              <div class="article__intro">
                <p>The low-slung ranch house has been reborn. These minimalist designs have high ...</p>
              </div><a href="blog_details.html" class="article__more">Read more</a>
            </div>
          </div>
          <!-- end of block .article__item-->
        </div>
        <!-- end of block .article__list--><a href="blog.html" class="article__btn-more"> More articles...</a>
      </div>
    </section>
    <!-- END SECTION ARTICLE-->
    <!-- BEGIN SECTION ACHIEVEMENT-->
    <div class="achievement">
      <div class="container">
        <div class="row">
          <div data-sr="enter right move 0 over 0 wait 0s" data-animate-callback="countUp" data-animate-end="achievement__item--animate-end" class="achievement__item">
            <svg class="achievement__icon">
              <use xlink:href="#icon-transactions"></use>
            </svg>
            <div data-count-end="755300" data-count-duration="1" class="achievement__counter achievement__counter--lg js-count-up"></div>
            <div class="achievement__counter">755 300</div>
            <div class="achievement__name">Transactions</div>
          </div>
          <div data-sr="enter right move 0 over 0 wait 0.5s" data-animate-callback="countUp" data-animate-end="achievement__item--animate-end" class="achievement__item">
            <svg class="achievement__icon">
              <use xlink:href="#icon-customers"></use>
            </svg>
            <div data-count-end="17620" data-count-duration="1" class="achievement__counter achievement__counter--lg js-count-up"></div>
            <div class="achievement__counter">17 620</div>
            <div class="achievement__name">Satisfied Customers</div>
          </div>
          <div data-sr="enter right move 0 over 0 wait 1s" data-animate-callback="countUp" data-animate-end="achievement__item--animate-end" class="achievement__item">
            <svg class="achievement__icon">
              <use xlink:href="#icon-agency"></use>
            </svg>
            <div data-count-end="790" data-count-duration="1" class="achievement__counter achievement__counter--lg js-count-up"></div>
            <div class="achievement__counter">790</div>
            <div class="achievement__name">Agencies</div>
          </div>
          <div data-sr="enter right move 0 over 0 wait 1.5s" data-animate-callback="countUp" data-animate-end="achievement__item--animate-end" class="achievement__item">
            <svg class="achievement__icon">
              <use xlink:href="#icon-sales"></use>
            </svg>
            <div data-count-end="1528715" data-count-duration="1" class="achievement__counter achievement__counter--lg js-count-up"></div>
            <div class="achievement__counter">1 528 715</div>
            <div class="achievement__name">Sales &amp; Rents</div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SECTION ACHIEVEMENT-->
    <!-- BEGIN SECTION REVIEW-->
    <section class="review review--wide review--undefined">
      <div class="container">
        <div class="review__header">
          <h3 class="review__title">Testimonials</h3>
          <h4 class="review__headline">Insights, tips & how-to guides on selling property and preparing your home or investment property for sale.</h4>
        </div>
        <!-- end of block .review__header-->
        <div id="review-slider" class="review__list">
          <div class="review__slider js-slick-slider">
            <div class="review__item">
              <div class="review__photo"><img src="assets/media-demo/testimonials/01.jpg" alt="ALT" class="review__photo-img"></div>
              <div class="review__details"><span class="review__name">Vanessa Kasinsky</span><span class="review__post">Brand Manager</span>
                <div class="review__stars"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
              </div>
              <div class="review__info">
                <div class="review__info-quote review__info-quote--open">&rdquo;</div>
                <p>Mariusz always addressed my questions professionally and in a very timely manner. Working with him was a pleasure and would come with my recommendation.
                </p>
                <div class="review__info-quote review__info-quote--close">&ldquo;</div>
              </div>
              <div class="clearfix"></div>
              <!-- end of block .review__item-->
            </div>
            <div class="review__item">
              <div class="review__photo"><img src="assets/media-demo/testimonials/02.jpg" alt="ALT" class="review__photo-img"></div>
              <div class="review__details"><span class="review__name">Joseph Ryan</span><span class="review__post">Brand Manager</span>
                <div class="review__stars"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
              </div>
              <div class="review__info">
                <div class="review__info-quote review__info-quote--open">&rdquo;</div>
                <p>Mariusz always addressed my questions professionally and in a very timely manner. Working with him was a pleasure and would come with my recommendation.
                </p>
                <div class="review__info-quote review__info-quote--close">&ldquo;</div>
              </div>
              <div class="clearfix"></div>
              <!-- end of block .review__item-->
            </div>
            <div class="review__item">
              <div class="review__photo"><img src="assets/media-demo/testimonials/03.jpg" alt="ALT" class="review__photo-img"></div>
              <div class="review__details"><span class="review__name">Caroline Reynolds</span><span class="review__post">Brand Manager</span>
                <div class="review__stars"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
              </div>
              <div class="review__info">
                <div class="review__info-quote review__info-quote--open">&rdquo;</div>
                <p>Mariusz always addressed my questions professionally and in a very timely manner. Working with him was a pleasure and would come with my recommendation.
                </p>
                <div class="review__info-quote review__info-quote--close">&ldquo;</div>
              </div>
              <div class="clearfix"></div>
              <!-- end of block .review__item-->
            </div>
            <div class="review__item">
              <div class="review__photo"><img src="assets/media-demo/testimonials/04.jpg" alt="ALT" class="review__photo-img"></div>
              <div class="review__details"><span class="review__name">Ana Oliver</span><span class="review__post">Brand Manager</span>
                <div class="review__stars"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
              </div>
              <div class="review__info">
                <div class="review__info-quote review__info-quote--open">&rdquo;</div>
                <p>Mariusz always addressed my questions professionally and in a very timely manner. Working with him was a pleasure and would come with my recommendation.
                </p>
                <div class="review__info-quote review__info-quote--close">&ldquo;</div>
              </div>
              <div class="clearfix"></div>
              <!-- end of block .review__item-->
            </div>
          </div>
        </div>
        <!-- end of block .review__list-->
      </div>
    </section>
    <!-- END SECTION REVIEW-->
    <!-- BEGIN BLOCK GO SUBMIT-->
    <div data-sr="flip 45deg over 0.5s" class="gosubmit">
      <div class="container">
        <div class="gosubmit__title">
          <div class="gosubmit__title__row gosubmit__title__row--first">Looking to</div>
          <div class="gosubmit__title__row gosubmit__title__row--second"><span class="gosubmit__title__option">Sell</span>or<span class="gosubmit__title__option">Rent</span></div>
          <div class="gosubmit__title__row gosubmit__title__row--third">Your Property?</div>
        </div>
        <!-- end of block .gosubmit__title--><a href="my_listings_add_edit.html" class="gosubmit__btn">Submit now</a>
      </div>
    </div>
    <!-- END BLOCK GO SUBMIT-->
    <div class="center">
      <div class="container">
      </div>
    </div>
    <!-- END CENTER SECTION-->
    <!-- BEGIN AFTER CENTER SECTION-->
    <!-- END AFTER CENTER SECTION-->
    <!-- BEGIN PARTNERS-->
    <section class="partners">
      <div class="container">
        <header class="partners__header">
          <h3 class="partners__title">Our Partners</h3>
          <h4 class="partners__headline">
            At RS, our partners make great digital experiences possible by offering our products, consulting
            expertise and the products of our technology partners
          </h4>
        </header>
        <!-- end of block .partners__header-->
        <div id="partners-slider" class="partners__list">
          <div class="partners__slider js-slick-slider">
            <div class="partners__item"><img src="assets/media-demo/partners/logo-company-1.png" alt=""></div>
            <div class="partners__item"><img src="assets/media-demo/partners/logo-company-2.png" alt=""></div>
            <div class="partners__item"><img src="assets/media-demo/partners/logo-company-3.png" alt=""></div>
            <div class="partners__item"><img src="assets/media-demo/partners/logo-company-4.png" alt=""></div>
            <div class="partners__item"><img src="assets/media-demo/partners/logo-company-5.png" alt=""></div>
            <div class="partners__item"><img src="assets/media-demo/partners/logo-company-3.png" alt=""></div>
            <div class="partners__item"><img src="assets/media-demo/partners/logo-company-2.png" alt=""></div>
          </div>
          <div class="partners__controls">
            <button class="partners__arrow partners__arrow--prev js-partners-prev"></button>
            <button class="partners__arrow partners__arrow--next js-partners-next"></button>
          </div>
          <!-- end of block .partners__controls-->
        </div>
        <!-- end of block .partners__list-->
      </div>
    </section>
    <!-- end of block .partners-->
    <!-- END PARTNERS-->
    <!-- BEGIN SUBSCRIBE-->
    <div class="subscribe">
      <div class="container">
        <div class="subscribe__row">
          <form action="#" class="subscribe__form js-subscribe-form">
            <h4 class="subscribe__title">Newsletters</h4>
            <div class="subscribe__group form-group">
              <label class="sr-only">Newsletters</label>
              <input type="email" placeholder="Input your e-mail" name="email" required data-parsley-trigger="change" class="subscribe__field form-control js-subscribe-email">
            </div>
            <button type="submit" class="subscribe__submit js-subscribe-submit">SUBMIT</button>
          </form>
          <!-- end of block .subscribe__form-->
        </div>
      </div>
    </div>
    <!-- END SUBSCRIBE-->
    <!-- BEGIN FOOTER-->
    <footer class="footer">
      <div class="container">
        <div class="footer__wrap">
          <div class="footer__col footer__col--first">
            <section class="widget">
              <div class="widget__header">
                <h3 class="widget-title">Menu</h3>
              </div>
              <nav class="nav nav--footer"><a href="index.html">Home</a><a href="properties_listing_grid.html">Realty</a><a href="agents_listing_grid.html">Agents</a><a href="gallery.html">Gallery</a><a href="blog.html">Blog</a><a href="pricing.html">Pricing</a><a href="contacts.html">Contacts</a><a href="feature_ui.html">UI</a></nav>
              <!-- end of block .nav-footer-->
            </section>
            <aside class="widget widget_text">
              <h2 class="widget-title">About</h2>
              <div class="textwidget">
                RealtySpace is the leader in online real estate and operator of the WK of real estate web site for consumers and real estate professionals. Real Estate of websites captures more than 20 million monthly visitors
                <p>RealtySpace is the leader in online real estate and operator of the WK of real</p>
                <p><a>Read more</a></p>
              </div>


            </aside>
            <div class="social social--footer">
              <div class="social__header">
                <h3 class="social__title">Social</h3>
              </div><a href="#" class="social__item"><i class="fa fa-facebook"></i></a><a href="#" class="social__item"><i class="fa fa-twitter"></i></a><a href="#" class="social__item"><i class="fa fa-google-plus"></i></a>
            </div>
            <!-- end of block .social-footer-->
          </div>
          <!-- end of block .footer__col-first-->
          <div class="footer__col footer__col--second">
            <section class="address address--footer">
              <div class="address__header">
                <h3 class="address__title">Contact</h3>
                <h4 class="address__headline">Our office</h4>
              </div>
              <address class="address__main"><span>1950 New York, NY, Ave NW, California, DC 3000600, USA</span><span>08 - 17 mon-fr</span><a href="tel:+442240052225">+1 202 555 0135</a><a href="tel:+442240052225">+1 202 555 0135</a><span>Fax: +1 202 555 0135</span><a href="mailto:hello@example.com">hello@example.com</a></address>
            </section>
            <!-- end of block .address-->
            <!-- BEGIN SECTION FEEDBACK-->
            <section class="form form--footer">
              <div class="form__header">
                <h3 class="form__title">Feedback</h3>
              </div>
              <form action="#" class="form__wrap js-parsley js-unhide-block">
                <div class="form__row form__row--email form-group">
                  <label for="in-email" class="sr-only form__label control-label">E-mail</label>
                  <input id="in-email" type="email" name="email" placeholder="E-mail" required data-parsley-trigger="change" class="form__in form__in--text form-control">
                </div>
                <div class="form__row form-group">
                  <label for="in-message" class="sr-only form__label control-label">Message for Us</label>
                  <textarea id="in-message" name="message" placeholder="Message for Us" required data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-validation-threshold="10" data-parsley-minlength-message="You need to enter at least a 20 caracters long comment.." class="form__in form__in--textarea form-control"></textarea>
                </div>
                <div class="form__row">
                  <button type="submit" class="form__submit">Send</button>
                </div>
              </form>
              <!-- end of block .form__wrap-->
              <button type="button" class="form__show js-unhide">Contact form</button>
            </section>
            <!-- END SECTION FEEDBACK-->
          </div>
          <!-- end of block .footer__col-second-->
          <div class="footer__col footer__col--third">
            <!-- BEGIN SECTION ARTICLE-->
            <section class="article js-unhide-block article--footer">
              <button type="button" class="widget__show js-unhide">Show articles</button>
              <div class="article__header">
                <h3 class="article__title">Latest articles</h3>
              </div>
              <!-- end of block .article__header-->
              <div class="article__list">
                <div class="article__item">
                  <div class="article__details"><a href="blog_details.html" class="article__item-title">Sustainable architecture &amp; design.</a>
                    <time datetime="2009-08-29" class="article__time">Mon - 3 Sep - 3:17 PM</time>
                  </div>
                </div>
                <!-- end of block .article__item-->
                <div class="article__item">
                  <div class="article__details"><a href="blog_details.html" class="article__item-title">You’ve been approved for a rental home.</a>
                    <time datetime="2009-08-29" class="article__time">Mon - 3 Sep - 3:17 PM</time>
                  </div>
                </div>
                <!-- end of block .article__item-->
                <div class="article__item">
                  <div class="article__details"><a href="blog_details.html" class="article__item-title">The Block Glasshouse winners.</a>
                    <time datetime="2009-08-29" class="article__time">Mon - 3 Sep - 3:17 PM</time>
                  </div>
                </div>
                <!-- end of block .article__item-->
              </div>
              <!-- end of block .article__list--><a href="blog.html" class="article__btn-more"> More articles</a>
            </section>
            <!-- END SECTION ARTICLE-->
          </div>
          <!-- end of block .footer__col-third-->

          <div class="clearfix"></div><span class="footer__copyright">&copy; 2015 RealtySpace. All rights reserved</span>
          <!-- end of block .footer__copyright-->
        </div>
      </div>
    </footer>
    <!-- end of block .footer-->
    <!-- END FOOTER-->
  </div>
</div>
<button type="button" class="scrollup js-scrollup"></button>
<!-- end of block .scrollup-->
<!-- BEGIN SCRIPTS and INCLUDES-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places"></script>
<!--
Contains vendor libraries (Bootstrap3, Jquery, Chosen, etc) already compiled into a single file, with
versions that are verified to work with our theme. Normally, you should not edit that file.
-->
<!-- build:jsvendor-->
<script type="text/javascript" src="assets/js/vendor.js"></script>
<!-- endbuild-->
<!--
This file is used for demonstration purposes and contains example property items, that are mostly used to
render markers on the map. You can safely delete this file, after you've adapted the demo.js code
to use your own data.
-->
<!-- build:jsdemodata-->
<script type="text/javascript" src="assets/js/demodata.js"></script>
<!-- endbuild-->
<!--
The library code that Realtyspace theme relies on, in order to function properly.
Normally, you should not edit this file or add your own code there.
-->
<!-- build:jsapp-->
<script type="text/javascript" src="assets/js/app.js"></script>
<!-- endbuild-->
<!--
the main file, that you should modify. It contains lots of examples of
plugin usage, with detailed comments about specific sections of the code.
-->
<!-- build:jsdemo-->
<script type="text/javascript" src="assets/js/demo.js"></script>
<!-- endbuild-->
<!-- END SCRIPTS and INCLUDES-->
</body>
</html>